# Statistics Mini Assessment Part 1

## Exercise 1

1. Load a dataset of your choosing from those found in Canvas. It can be the same one we are working with.
2. Inspect it and write down at least 5 issues you identified in this step.
3. Proceed to cleaning and preparing it for analysis.

In [8]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
df = pd.read_csv('https://raw.githubusercontent.com/thushara-lakshmanan/python-intro/master/data/mel_airbnb_ready.csv', parse_dates=['host_since'])
df.head()

,id,host_since,host_is_superhost,host_identity_verified,city,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,number_of_reviews,review_scores_rating,review_scores_cleanliness,instant_bookable,cancellation_policy,calculated_host_listings_count,min_price_stay,month,year,week,weekday,quarter,day_of_week,week_or_end
0,9835,2009-08-21,f,f,Manningham,-37.772684,145.092133,f,House,Private room,2,1.0,1.0,2.0,60,55.0,1,22,1,365,30,4,90.0,10.0,f,strict_14_with_grace_period,1,60,8,2009,34,4,3,Friday,week_day
1,10803,2009-09-16,f,t,Moreland,-37.766505,144.980736,t,Apartment,Private room,2,1.0,1.0,1.0,35,9.0,1,15,3,45,4,108,87.0,8.0,t,moderate,1,105,9,2009,38,2,3,Wednesday,week_day
2,12936,2009-10-31,t,t,Port Phillip,-37.859755,144.977369,t,Apartment,Entire home/apt,3,1.0,1.0,2.0,159,100.0,2,28,3,28,10,15,94.0,10.0,f,strict_14_with_grace_period,17,477,10,2009,44,5,4,Saturday,weekend
3,15246,2009-12-03,f,t,Darebin,-37.758971,144.989228,t,House,Private room,1,1.5,1.0,1.0,50,15.0,1,20,2,200,0,29,94.0,9.0,f,moderate,3,100,12,2009,49,3,4,Thursday,week_day
4,16760,2009-12-22,f,t,Port Phillip,-37.864530,144.992238,t,House,Private room,2,1.0,1.0,2.0,69,15.0,1,20,1,90,2,63,90.0,9.0,f,moderate,1,69,12,2009,52,1,4,Tuesday,week_day

## Exercise 2

1. Create a function from scratch that takes in an array and calculates the average. You can benchmark your function against `np.mean()` for validation.
2. Test is with at least 2 columns with quantitative data.

In [9]:
def fnmean(temp):
    ans=sum(temp)/len(temp)
    return ans
    
print(fnmean(df['price']))
print(fnmean(df['cleaning_fee']))

124.73149584740348
60.44327826959934

In [10]:
np.mean(df['price'])

124.73149584740348

In [11]:
np.mean(df['cleaning_fee'])

60.44327826959934

## Exercise 3

1. Create a function from scratch that takes in an array and calculates the median. You can benchmark your function against `np.median()` for validation.
2. Test is with at least 2 columns with quantitative data.

In [46]:
def fnmedian(arr):
    #odd number
    if len(arr)%2==1:
        ans=sorted(arr)[int(len(arr) / 2)]
    #even number
    elif len(arr)%2==0:
            ans=(sorted(arr)[len(arr) // 2 - 1] + sorted(arr)[len(arr) // 2]) / 2
    return ans

print(fnmedian(df['price']))
print(fnmedian(df['cleaning_fee']))
print(fnmedian(np.arange(9)))
print(fnmedian(np.arange(10)))

109.0
55.0
4
4.5

In [17]:
np.median(df['price'])

109.0

In [44]:
np.median(df['cleaning_fee'])

55.0

In [45]:
np.median(np.arange(9))

4.0

## Exercise 4

1. Create a function from scratch that takes in an array and calculates the variance. You can benchmark your function against `np.var()` for validation.
2. Test is with at least 2 columns with quantitative data.

In [3]:
def fnvar(arr):
    ans=sum([(x - arr.mean()) ** 2 for x in arr]) / (len(arr) - 1)
    return ans
    
print(fnvar(df['price']))
print(fnvar(df['cleaning_fee']))

5465.315115299659
1750.0031029475133

In [4]:
np.var(df['price'])

5465.065716964563

In [5]:
np.var(df['cleaning_fee'])

1749.9232451806542

## Exercise 5

1. Create a function from scratch that takes in an array and calculates the minimum value. You can benchmark your function against `np.min()` for validation.
2. Test is with at least 2 columns with quantitative data.

In [50]:
def fnmin(arr):
    ans=sorted(arr)[0]
    return ans
    
print(fnmin(df['price']))
print(fnmin(df['cleaning_fee']))

25
0.0

In [47]:
np.min(df['price'])

25

In [48]:
np.min(df['cleaning_fee'])

0.0

## Exercise 6

1. Create a function from scratch that takes in an array and calculates the maximum value. You can benchmark your function against `np.max()` for validation.
2. Test is with at least 2 columns with quantitative data.

In [51]:
def fnmax(arr):
    ans=sorted(arr)[-1]
    return ans
    
print(fnmax(df['price']))
print(fnmax(df['cleaning_fee']))

400
867.0

In [ ]:
np.max(df['price'])

In [52]:
np.max(df['cleaning_fee'])

867.0

## Exercise 7

1. Create a function from scratch that takes in an array and a percentage value as a float, and calculates the percentile of the array chosen. You can benchmark your function against `np.percentile()` for validation.
2. Test is with at least 2 columns with quantitative data.

In [56]:
def fnpercent(arr,p):
    ans=sorted(arr)[int((p/100) * len(arr))]
    return ans
    
print(fnpercent(df['price'],25))
print(fnpercent(df['cleaning_fee'],75))

71
79.0

In [57]:
np.percentile(df['price'],25)

71.0

In [58]:
np.percentile(df['cleaning_fee'],75)

79.0

## Exercise 8

1. Create a function from scratch that takes in an array and calculates the range of such array. You can benchmark your function against `np.ptp()` for validation.
2. Test is with at least 2 columns with quantitative data.

In [60]:
def fnptp(arr):
    ans=sorted(arr)[-1] - sorted(arr)[0]
    return ans
    

print(fnptp(df['cleaning_fee']))

867.0

In [61]:
np.ptp(df['cleaning_fee'])

867.0

## Exercise 9

1. Create a function from scratch that takes in an array and return the min and max value of an array as a tuple. You can benchmark your function against `np.min()` and `np.max()` for validation.
2. Test is with at least 2 columns with quantitative data.

In [6]:
def fnminandmax(arr):
    minimum=sorted(arr)[0]
    maximum=sorted(arr)[-1]
    ans=(minimum,maximum)
    return ans
    
print(fnminandmax(df['price']))
print(fnminandmax(df['cleaning_fee']))

(25, 400)
(0.0, 867.0)

## Exercise 10

1. Create a function from scratch that takes two arrays and returns the correlation between both. You can benchmark your function against the examples provided in class.
2. Test is with at least 2 pairs of columns with quantitative data.

## Exercise 11

1. Create a function from scratch that takes two arrays and returns the covariance between both. You can benchmark your function against the example provided in class.
2. Test is with at least 2 pairs of columns with quantitative data.

## Exercise 12

1. Create a function from scratch that takes in an array and calculates the standard deviation. You can benchmark your function against `np.std()` for validation.
2. Test is with at least 2 pairs of columns with quantitative data.

## Exercise 13

1. Create 2 pivot tables with different layers of complexity. Use both, categorical and quantitative variables.
2. Creat 2 visualisations, one with each.

## Exercise 14

1. Create a new folder inside your class repo and send your instructor a link to this set of exercises.